<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
	</configSections>

	<connectionStrings>
		<!-- Primary connection string -->
		<add name="MyDBConnection"
             connectionString="Data Source=DESKTOP-NV6DCAO;Initial Catalog=DATABASE1;User Id=sa;Password=APUassignment"
             providerName="System.Data.SqlClient"/>

		<!-- For datasets/TableAdapters -->
		<add name="Database1ConnectionString"
             connectionString="Data Source=DESKTOP-NV6DCAO;Initial Catalog=DATABASE1;User Id=sa;Password=APUassignment"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="Data Source=DESKTOP-NV6DCAO;Initial Catalog=DATABASE1;User Id=sa;Password=APUassignment" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlClient" />
			<add name="SqlClient Data Provider"
                 invariant="System.Data.SqlClient"
                 description=".NET Framework Data Provider for SQL Server"
                 type="System.Data.SqlClient.SqlClientFactory, System.Data" />
		</DbProviderFactories>
	</system.data>
</configuration>